body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('enhiinod.jpg') rgb(0, 0, 111);
    /*
    background-color: rgb(0, 0, 111);
    background-image: url('bluepg.jpg');
    */
    color: white;
}

header {
    background: url('logo.png') top right no-repeat;
    /*
    background-image: url('ncaa.png');
    background-repeat: no-repeat;
    background-position: top right;
    */
    color: white;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}