body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(254, 173, 139);
}

footer p {
    color:rgb(156, 52, 200);
    font-size: 12pt;
}
#secondpar {
    color: rgb(132, 97, 228);
}
