<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1> Header</h1>
        </header>
        <nav>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
        </nav>
        <main>
            <h1>Main</h1>
        </main>    
    </div>
    <footer id="footer">
        <p> &copy; 2025 Bilguun Enkhbaatar</p>
    </footer>
</body>
</html>